.button{
    margin-left: 80px;
}

.message{
  font-size: 15px;  
  padding: 10px 25px ;
  border-radius: 5px;
  background-color: turquoise;
}
.following{
    font-size: 15px;  
  padding: 10px 25px ;
  border-radius: 5px;
  border: 1px solid turquoise;
  background-color: rgb(3, 3, 31);
  color:turquoise;
}